@model FootballResult.Models.Data.Stats

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resultFirstTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resultFirstTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resultOtherTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resultOtherTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
